body{
    height: auto;
    width: 100%;
    background-color: #f7c8cf;
}

.heading{
    height: auto:
    width: 100%;
    background-color: white;
    border-bottom: 2px solid black;
}

.banner{
    width: 100%
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

a, a:hover, a:visited{
    text-decoration: none;
    color: white;
}

.col-md-6{
    margin-top: 3em;
    margin-bottom: 5em;
}

.share{
    margin-left: 7em;
    height: 3em;
    
}

.announcements{
    text-align: center;
    margin-top: 5em;
    font-style: italic;
}

.col-md-3{
    margin-top: 3em;
}

