body{
    height: auto;
    width: 100%;
    background-color: #f7c8cf;
}

.heading{
    height: auto:
    width: 100%;
    background-color: white;
    border-bottom: 2px solid black;
}

.banner{
    width: 100%
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.btn-danger{
    width: 18%;
    margin-left:auto;
    margin-right: auto;
}

a, a:hover, a:visited{
    text-decoration: none;
    color: white;
}

.col-md-6{
    margin-top: 3em;
    margin-bottom: 5em;
}

.share{
    width: 2.5em;  
    display: inline-block;
}

.share-links{
    display: inline-block;
}

.announcements{
    text-align: center;
    margin-top: 5em;
    font-style: italic;
}

.col-md-3{
    margin-top: 3em;
}

@media only screen and (max-width: 499px){
   .btn-danger{
      width: 100%;
    }
    
    h1{
      display: none;
    }   
    
    .share{
        width: 1.5em;
    }
    
    .col-md-6{
        margin-top: -4em;
        height: 175px;
    
    }
    
   
}
    

